<section class="cardpage">
    <div class="container">
        <div class="cardpage__body">
            <h1 class="cardpage__body-title">
                Страница объекта
            </h1>
            <div class="cardpage__body-block">
                <div class="cardpage__body-block-start">
                    <section id="card" class="splide" aria-label="My Awesome Gallery">
                        <div class="splide__arrows">
                            <button class="splide__arrow splide__arrow--prev">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 1.07324e-07L7.10258 1.89742L12.8633 7.65812L1.23326e-07 7.65812L9.13221e-08 10.3419L12.8633 10.3419L7.10258 16.1026L9 18L18 9L9 1.07324e-07Z"
                                        fill="white" />
                                </svg>
                            </button>
                            <button class="splide__arrow splide__arrow--next">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 1.07324e-07L7.10258 1.89742L12.8633 7.65812L1.23326e-07 7.65812L9.13221e-08 10.3419L12.8633 10.3419L7.10258 16.1026L9 18L18 9L9 1.07324e-07Z"
                                        fill="white" />
                                </svg>
                            </button>
                        </div>
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <img src="../images/dist/card.png" alt="">
                                </li>
                                <li class="splide__slide">
                                    <img src="../images/dist/card.png" alt="">
                                </li>
                                <li class="splide__slide">
                                    <img src="../images/dist/card.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </section>
                    <ul id="card-thumbnails" class="thumbnails">
                        <li class="thumbnail">
                            <img src="../images/dist/card.png" alt="">
                        </li>
                        <li class="thumbnail">
                            <img src="../images/dist/card.png" alt="">
                        </li>
                        <li class="thumbnail">
                            <img src="../images/dist/card.png" alt="">
                        </li>
                    </ul>
                </div>
                <div class="cardpage__body-block-info">
                    <span class="cardpage__body-block-info-name">
                        Детский сад Ивантеевка
                    </span>
                    <div class="line"></div>
                    <p class="cardpage__body-block-info-desc">
                        Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                    </p>
                    <div class="cardpage__body-block-info-attr">
                        <div class="cardpage__body-block-info-attr-item">
                            <span>Адрес</span>
                            <p>
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="cardpage__body-block-info-attr-item">
                            <span>Площадь фасада</span>
                            <p>13 453 м2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>