<section class="company">
    <div class="container">
        <div class="company__body">
            <div class="company__body-start">
                <img src="../images/dist/c1.png" alt="">
                <h2>О компании</h2>
            </div>
            <div class="company__body-end">
                <img src="../images/dist/c2.png" alt="">
                <p>
                    Наша компания специализируется на проектировании <span>фасадных систем, ограждающих и светопрозрачных
                        конструкций.</span> Будучи независимой проектной организацией, мы предлагаем оптимизацию проектов, что
                    позволяет значительно снизить ваши затраты при строительстве, не снижая при этом качества.
                    <br><br>
                    Обладая более чем <span>восьмилетним опытом работы,</span> наши специалисты успешно сотрудничают с ведущими
                    поставщиками фасадных систем и материалов, крепежных элементов и светопрозрачных конструкций.
                    
                    <br><br>
                    Мы работаем с <span>любыми видами</span> облицовочных материалов: стальные кассеты, композит, гранит,
                    керамогранит, известняк, стеклофибробетон, клинкер и другие. А так же можем выполнить проект на
                    любой из имеющихся типов подсистем НВФ и СПК.
                    
                    <br><br>
                    <span>В своей работе мы используем профессиональное программное обеспечение и выполняем все необходимые
                        расчеты.</span>
                    
                    <br><br>
                    Компания имеет полный комплект разрешительной документации, включая регистрацию в СРО, что позволяет
                    нам выполнять проектные работы в строгом соответствии с действующими стандартами. Обратившись к нам,
                    вы получите проект с сопровождением на всех этапах: от идивидуальной разработки проекта фасада до
                    авторского надзора. С нами вам не придется тратить время на дополнительные проверки.
                    
                    <br><br>
                    Мы полностью управляем процессом реализации проекта, начиная с его запуска и до завершення, и сами
                    решаем все возникающие проблемы на этапе монтажа, минимизируя ваше участие в процессе.
                    Наша команда предотвращает сложности ещё до того, как они появятся, гарантируя максимальный комфорт
                    и результат.
                    
                    <br><br>
                    С нами вы получаете не просто проект, а <span>качественное решение всех вопросов по фасаду,</span> которое
                    побавляет вас от лишних сложностей в строительстве и обеспечивает достижение нужного результата без
                    лишних вопросов.
                </p>
            </div>
        </div>
    </div>
</section>