<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../scss/style.min.css">
    <title>ПрофТехФасад</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="/" class="header__body-logo">
                    <img src="../images/dist/logo__header.png" alt="">
                </a>
                <nav class="header__body-menu desk">
                    <ul class="header__body-menu-list">
                        <li class="header__body-menu-list-item">
                            <a href="">Главная</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <span>
                                Услуги
                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L6 6L11 1" stroke="#252525" stroke-width="1.5"/>
                                </svg>                                
                            </span>
                            <div class="header__body-menu-list-item-acc">
                                <a href="">
                                    Проектирование вентилируемых фасадов
                                </a>
                                <a href="">
                                    Проектирование мокрого фасада
                                </a>
                                <a href="">
                                    Проектирование СПК
                                </a>
                                <a href="">
                                    Геодезическая съемка
                                </a>
                                <a href="">
                                    Авторский надзор
                                </a>
                            </div>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="">портфолио</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__body-contact desk">
                    <a class="header__body-contact-tel" href="tel:+79932851512">
                        +7 (993) 285-15-12
                    </a>
                    <a class="header__body-contact-mail" href="mailto:info@proftehfasad.ru">
                        info@proftehfasad.ru
                    </a>
                </div>
                <div class="burger mob">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__mobile mob">
                <nav class="header__body-menu">
                    <ul class="header__body-menu-list">
                        <span>Информация</span>
                        <li>
                            <a href="">Главная</a>
                        </li>
                        <li>
                            <a href="">Портфолио</a>
                        </li>
                        <li>
                            <a href="">Контакты</a>
                        </li>
                    </ul>
                    <ul class="header__body-menu-list">
                        <span>Услуги</span>
                        <li>
                            <a href="">Проектирование вентилируемых фасадов</a>
                        </li>
                        <li>
                            <a href="">Проектирование мокрого фасада</a>
                        </li>
                        <li>
                            <a href="">Проектирование СПК</a>
                        </li>
                        <li>
                            <a href="">Геодезическая съемка</a>
                        </li>
                        <li>
                            <a href="">Авторский надзор</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__body-contact">
                    <div class="header__body-contact-item">
                        <span>Напишите нам:</span>
                        <a href="mailto:info@proftehfasad.ru">info@proftehfasad.ru</a>
                    </div>
                    <div class="header__body-contact-item">
                        <span>По будням с 9:00 до 18:00</span>
                        <a href="tel:+79932851512">+7 (993) 285-15-12</a>
                    </div>
                    <button>
                        Заказать звонок
                    </button>
                </div>
                <div class="header__body-soft">
                    <a href="">
                        Пользовательское соглашение
                    </a>
                    <a href="">
                        Политика конфиденциальности
                    </a>
                    <span>
                        2024. Все права защищены
                    </span>
                </div>
            </div>
        </div>
    </header>
    <section class="contact">
        <div class="container">
            <div class="contact__body">
                <h1 class="contact__body-title">
                    Контакты для связи
                </h1>
                <div class="contact__body-block">
                    <div class="contact__body-block-items">
                        <div class="contact__body-block-items-item">
                            <span>Виктория Заверская</span>
                            <p>Коммерческий директор/Сооснователь</p>
                        </div>
                        <div class="contact__body-block-items-item">
                            <span>Дмитрий Алехин</span>
                            <p>Технический директор/Сооснователь</p>
                        </div>
                    </div>
                    <div class="contact__body-block-links">
                        <div class="contact__body-block-links-link">
                            <a href="tel:+79932851512">
                                +7 (993) 285-15-12
                            </a>
                            <a href="mailto:Viktoriia@proftehfasad.ru">
                                Viktoriia@proftehfasad.ru
                            </a>
                        </div>
                        <div class="contact__body-block-links-link">
                            <a href="tel:+79257931786">
                                +7 (925) 793-17-86
                            </a>
                            <a href="mailto:Dmitriy@proftehfasad.ru">
                                Dmitriy@proftehfasad.ru
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feedback">
        <div class="container">
            <div class="feedback__body">
                <img src="../images/dist/form.png" alt="">
                <div class="feedback__body-block">
                    <h3 class="feedback__body-block-title">
                        Остались вопросы?
                    </h3>
                    <p class="feedback__body-block-desc">
                        Заполните форму и наш специалист ответит Вам в ближайшее время.
                    </p>
                    <form action="" class="feedback__body-block-form">
                        <div class="feedback__body-block-form-inp">
                            <input placeholder="Имя" type="text">
                            <input placeholder="Электронная почта" type="email">
                            <input placeholder="Телефон" type="tel">
                            <div class="feedback__body-block-form-inp-file">
                                <input type="file">
                                <span>Прикрепить файл</span>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 8H13M8 3V13" stroke="#1A1A1A" stroke-opacity="0.6"/>
                                </svg>                                
                            </div>
                        </div>
                        <div class="feedback__body-block-form-dop">
                            <textarea placeholder="Ваш вопрос"></textarea>
                            <button class="feedback__body-btn">
                                Отправить
                            </button>
                        </div>
                    </form>
                    <p class="feedback__body-block-pol">
                        Нажимая на кнопку «Отправить», вы соглашаетесь с <a href="">«Политикой обработки персональных данных»</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <div class="footer__body-wrap">
                    <div class="footer__body-logo">
                        <a href="">
                            <img src="../images/dist/logo__footer.png" alt="">
                        </a>
                        <p>
                            Комплексное проектирование
                            фасадов любой сложности
                        </p>
                        <span class="mob">
                            2024. Все права защищены
                        </span>
                    </div>
                    <nav class="footer__body-menu">
                        <ul class="footer__body-menu-list">
                            <span>Информация</span>
                            <li>
                                <a href="">Главная</a>
                            </li>
                            <li>
                                <a href="">Портфолио</a>
                            </li>
                            <li>
                                <a href="">Контакты</a>
                            </li>
                        </ul>
                        <ul class="footer__body-menu-list">
                            <span>Услуги</span>
                            <li>
                                <a href="">Проектирование вентилируемых фасадов</a>
                            </li>
                            <li>
                                <a href="">Проектирование мокрого фасада</a>
                            </li>
                            <li>
                                <a href="">Проектирование СПК</a>
                            </li>
                            <li>
                                <a href="">Геодезическая съемка</a>
                            </li>
                            <li>
                                <a href="">Авторский надзор</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="footer__body-contact">
                        <div class="footer__body-contact-item">
                            <span>Напишите нам:</span>
                            <a href="mailto:info@proftehfasad.ru">info@proftehfasad.ru</a>
                        </div>
                        <div class="footer__body-contact-item">
                            <span>По будням с 9:00 до 18:00</span>
                            <a href="tel:+79932851512">+7 (993) 285-15-12</a>
                        </div>
                        <button>
                            Заказать звонок
                        </button>
                    </div>
                </div>
                <div class="footer__body-soft">
                    <span class="desk">
                        2024. Все права защищены
                    </span>
                    <a href="">
                        Пользовательское соглашение
                    </a>
                    <a href="">
                        Политика конфиденциальности
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/main.min.js"></script>
</body>
</html>


