<section class="contact">
    <div class="container">
        <div class="contact__body">
            <h1 class="contact__body-title">
                Контакты для связи
            </h1>
            <div class="contact__body-block">
                <div class="contact__body-block-items">
                    <div class="contact__body-block-items-item">
                        <span>Виктория Заверская</span>
                        <p>Коммерческий директор/Сооснователь</p>
                    </div>
                    <div class="contact__body-block-items-item">
                        <span>Дмитрий Алехин</span>
                        <p>Технический директор/Сооснователь</p>
                    </div>
                </div>
                <div class="contact__body-block-links">
                    <div class="contact__body-block-links-link">
                        <a href="tel:+79932851512">
                            +7 (993) 285-15-12
                        </a>
                        <a href="mailto:Viktoriia@proftehfasad.ru">
                            Viktoriia@proftehfasad.ru
                        </a>
                    </div>
                    <div class="contact__body-block-links-link">
                        <a href="tel:+79257931786">
                            +7 (925) 793-17-86
                        </a>
                        <a href="mailto:Dmitriy@proftehfasad.ru">
                            Dmitriy@proftehfasad.ru
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>