<section class="feedback">
    <div class="container">
        <div class="feedback__body">
            <img src="../images/dist/form.png" alt="">
            <div class="feedback__body-block">
                <h3 class="feedback__body-block-title">
                    Остались вопросы?
                </h3>
                <p class="feedback__body-block-desc">
                    Заполните форму и наш специалист ответит Вам в ближайшее время.
                </p>
                <form action="" class="feedback__body-block-form">
                    <div class="feedback__body-block-form-inp">
                        <input placeholder="Имя" type="text">
                        <input placeholder="Электронная почта" type="email">
                        <input placeholder="Телефон" type="tel">
                        <div class="feedback__body-block-form-inp-file">
                            <input type="file">
                            <span>Прикрепить файл</span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 8H13M8 3V13" stroke="#1A1A1A" stroke-opacity="0.6"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="feedback__body-block-form-dop">
                        <textarea placeholder="Ваш вопрос"></textarea>
                        <button class="feedback__body-btn">
                            Отправить
                        </button>
                    </div>
                </form>
                <p class="feedback__body-block-pol">
                    Нажимая на кнопку «Отправить», вы соглашаетесь с <a href="">«Политикой обработки персональных данных»</a>
                </p>
            </div>
        </div>
    </div>
</section>