<main class="main">
    <div class="container">
        <div class="main__body">
            <img src="../images/dist/main.png" alt="">
            <div class="main__body-text">
                <div class="main__body-text-top">
                    <span>Член СРО “ЭкспертПроект”</span>
                    <p>СРО-П-182-02042013</p>
                </div>
                <h1>Комплексное проектирование фасадов любой сложности</h1>
                <ul class="main__body-text-list">
                    <li>
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.5 2H8.5C7.397 2 6.5 2.897 6.5 4V16C6.5 17.103 7.397 18 8.5 18H20.5C21.603 18 22.5 17.103 22.5 16V4C22.5 2.897 21.603 2 20.5 2ZM8.5 16V4H20.5L20.502 16H8.5Z" fill="#252525"/>
                            <path d="M4.5 8H2.5V20C2.5 21.103 3.397 22 4.5 22H16.5V20H4.5V8ZM13.433 11.519L11.707 9.793L10.293 11.207L13.567 14.481L19.269 7.641L17.731 6.359L13.433 11.519Z" fill="#252525"/>
                        </svg>
                        Полное сопровождение на всех этапах
                    </li>
                    <li>
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.5 2H8.5C7.397 2 6.5 2.897 6.5 4V16C6.5 17.103 7.397 18 8.5 18H20.5C21.603 18 22.5 17.103 22.5 16V4C22.5 2.897 21.603 2 20.5 2ZM8.5 16V4H20.5L20.502 16H8.5Z" fill="#252525"/>
                            <path d="M4.5 8H2.5V20C2.5 21.103 3.397 22 4.5 22H16.5V20H4.5V8ZM13.433 11.519L11.707 9.793L10.293 11.207L13.567 14.481L19.269 7.641L17.731 6.359L13.433 11.519Z" fill="#252525"/>
                        </svg>
                        По всей России
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>