<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">     
<link rel="stylesheet" href="../scss/style.min.css">
    <title>ПрофТехФасад</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="/" class="header__body-logo">
                    <img src="../images/dist/logo__header.png" alt="">
                </a>
                <nav class="header__body-menu desk">
                    <ul class="header__body-menu-list">
                        <li class="header__body-menu-list-item">
                            <a href="">Главная</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <span>
                                Услуги
                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L6 6L11 1" stroke="#252525" stroke-width="1.5"/>
                                </svg>                                
                            </span>
                            <div class="header__body-menu-list-item-acc">
                                <a href="">
                                    Проектирование вентилируемых фасадов
                                </a>
                                <a href="">
                                    Проектирование мокрого фасада
                                </a>
                                <a href="">
                                    Проектирование СПК
                                </a>
                                <a href="">
                                    Геодезическая съемка
                                </a>
                                <a href="">
                                    Авторский надзор
                                </a>
                            </div>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="">портфолио</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__body-contact desk">
                    <a class="header__body-contact-tel" href="tel:+79932851512">
                        +7 (993) 285-15-12
                    </a>
                    <a class="header__body-contact-mail" href="mailto:info@proftehfasad.ru">
                        info@proftehfasad.ru
                    </a>
                </div>
                <div class="burger mob">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__mobile mob">
                <nav class="header__body-menu">
                    <ul class="header__body-menu-list">
                        <span>Информация</span>
                        <li>
                            <a href="">Главная</a>
                        </li>
                        <li>
                            <a href="">Портфолио</a>
                        </li>
                        <li>
                            <a href="">Контакты</a>
                        </li>
                    </ul>
                    <ul class="header__body-menu-list">
                        <span>Услуги</span>
                        <li>
                            <a href="">Проектирование вентилируемых фасадов</a>
                        </li>
                        <li>
                            <a href="">Проектирование мокрого фасада</a>
                        </li>
                        <li>
                            <a href="">Проектирование СПК</a>
                        </li>
                        <li>
                            <a href="">Геодезическая съемка</a>
                        </li>
                        <li>
                            <a href="">Авторский надзор</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__body-contact">
                    <div class="header__body-contact-item">
                        <span>Напишите нам:</span>
                        <a href="mailto:info@proftehfasad.ru">info@proftehfasad.ru</a>
                    </div>
                    <div class="header__body-contact-item">
                        <span>По будням с 9:00 до 18:00</span>
                        <a href="tel:+79932851512">+7 (993) 285-15-12</a>
                    </div>
                    <button>
                        Заказать звонок
                    </button>
                </div>
                <div class="header__body-soft">
                    <a href="">
                        Пользовательское соглашение
                    </a>
                    <a href="">
                        Политика конфиденциальности
                    </a>
                    <span>
                        2024. Все права защищены
                    </span>
                </div>
            </div>
        </div>
    </header>
    <section class="portfolio">
        <div class="container">
            <div class="portfolio__body">
                <div class="portfolio__body-top">
                    <h1>Портфолио</h1>
                    <div class="portfolio__body-top-btn">
                        <button class="active">НВФ</button>
                        <button>СПК</button>
                    </div>
                </div>
                <div class="portfolio__body-block">
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio__body-block none">
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка Для Примера второй блок 
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__body-block-item">
                        <div class="portfolio__body-block-item-main">
                            <img src="../images/dist/item.png" alt="">
                            <span class="portfolio__body-block-item-main-name">
                                Детский сад Ивантеевка
                            </span>
                            <div class="line"></div>
                            <p class="portfolio__body-block-item-main-type">
                                Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                            </p>
                            <p class="portfolio__body-block-item-main-address">
                                Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                            </p>
                        </div>
                        <div class="portfolio__body-block-item-bot">
                            <p>13 453 м2</p>
                            <a href="cardpage.html">
                                Открыть проект
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="experience">
        <div class="container">
            <div class="experience__body">
                <div class="experience__body-top">
                    <h2>Наш опыт работы с подсистемами</h2>
                    <div class="experience__body-top-btn">
                        <button class="active">НВФ</button>
                        <button>СПК</button>
                    </div>
                </div>
                <div class="experience__body-block">
                    <div class="experience__body-block-item">
                        <img src="../images/dist/logo/1.png" alt="">
                        <img src="../images/dist/logo/2.png" alt="">
                        <img src="../images/dist/logo/3.png" alt="">
                        <img src="../images/dist/logo/4.png" alt="">
                        <img src="../images/dist/logo/5.png" alt="">
                        <img src="../images/dist/logo/6.png" alt="">
                    </div>
                    <div class="experience__body-block-item">
                        <img src="../images/dist/logo/7.png" alt="">
                        <img src="../images/dist/logo/8.png" alt="">
                        <img src="../images/dist/logo/9.png" alt="">
                        <img src="../images/dist/logo/10.png" alt="">
                        <img src="../images/dist/logo/11.png" alt="">
                        <img src="../images/dist/logo/12.png" alt="">
                    </div>
                </div>
                <div class="experience__body-block none">
                    <div class="experience__body-block-item">
                        <img src="../images/dist/logo/1.png" alt="">
                        <img src="../images/dist/logo/2.png" alt="">
                        <img src="../images/dist/logo/3.png" alt="">
                        <img src="../images/dist/logo/4.png" alt="">
                        <img src="../images/dist/logo/5.png" alt="">
                        <img src="../images/dist/logo/6.png" alt="">
                    </div>
                    <div class="experience__body-block-item">
                        <img src="../images/dist/logo/7.png" alt="">
                        <img src="../images/dist/logo/8.png" alt="">
                        <img src="../images/dist/logo/9.png" alt="">
                        <img src="../images/dist/logo/10.png" alt="">
                        <img src="../images/dist/logo/11.png" alt="">
                        <img src="../images/dist/logo/12.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="done">
        <div class="container">
            <div class="done__body">
                <h2 class="done__body-title">
                    Наши выполненные объекты
                </h2>
                <iframe
                    src="https://yandex.ru/map-widget/v1/?feedback=map%2Fedit&feedback-context=map.controls&ll=37.764218%2C55.808099&source=constructorLink&um=constructor%3Acaae54ddb90cbfdbdd1985ca7faa86694bbc5945735849e0510c060a73f8c0ee&z=9.2"
                    frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
        </div>
    </section>
    <section class="feedback">
        <div class="container">
            <div class="feedback__body">
                <img src="../images/dist/form.png" alt="">
                <div class="feedback__body-block">
                    <h3 class="feedback__body-block-title">
                        Остались вопросы?
                    </h3>
                    <p class="feedback__body-block-desc">
                        Заполните форму и наш специалист ответит Вам в ближайшее время.
                    </p>
                    <form action="" class="feedback__body-block-form">
                        <div class="feedback__body-block-form-inp">
                            <input placeholder="Имя" type="text">
                            <input placeholder="Электронная почта" type="email">
                            <input placeholder="Телефон" type="tel">
                            <div class="feedback__body-block-form-inp-file">
                                <input type="file">
                                <span>Прикрепить файл</span>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 8H13M8 3V13" stroke="#1A1A1A" stroke-opacity="0.6"/>
                                </svg>                                
                            </div>
                        </div>
                        <div class="feedback__body-block-form-dop">
                            <textarea placeholder="Ваш вопрос"></textarea>
                            <button class="feedback__body-btn">
                                Отправить
                            </button>
                        </div>
                    </form>
                    <p class="feedback__body-block-pol">
                        Нажимая на кнопку «Отправить», вы соглашаетесь с <a href="">«Политикой обработки персональных данных»</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <div class="footer__body-wrap">
                    <div class="footer__body-logo">
                        <a href="">
                            <img src="../images/dist/logo__footer.png" alt="">
                        </a>
                        <p>
                            Комплексное проектирование
                            фасадов любой сложности
                        </p>
                        <span class="mob">
                            2024. Все права защищены
                        </span>
                    </div>
                    <nav class="footer__body-menu">
                        <ul class="footer__body-menu-list">
                            <span>Информация</span>
                            <li>
                                <a href="">Главная</a>
                            </li>
                            <li>
                                <a href="">Портфолио</a>
                            </li>
                            <li>
                                <a href="">Контакты</a>
                            </li>
                        </ul>
                        <ul class="footer__body-menu-list">
                            <span>Услуги</span>
                            <li>
                                <a href="">Проектирование вентилируемых фасадов</a>
                            </li>
                            <li>
                                <a href="">Проектирование мокрого фасада</a>
                            </li>
                            <li>
                                <a href="">Проектирование СПК</a>
                            </li>
                            <li>
                                <a href="">Геодезическая съемка</a>
                            </li>
                            <li>
                                <a href="">Авторский надзор</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="footer__body-contact">
                        <div class="footer__body-contact-item">
                            <span>Напишите нам:</span>
                            <a href="mailto:info@proftehfasad.ru">info@proftehfasad.ru</a>
                        </div>
                        <div class="footer__body-contact-item">
                            <span>По будням с 9:00 до 18:00</span>
                            <a href="tel:+79932851512">+7 (993) 285-15-12</a>
                        </div>
                        <button>
                            Заказать звонок
                        </button>
                    </div>
                </div>
                <div class="footer__body-soft">
                    <span class="desk">
                        2024. Все права защищены
                    </span>
                    <a href="">
                        Пользовательское соглашение
                    </a>
                    <a href="">
                        Политика конфиденциальности
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/main.min.js"></script>
</body>
</html>


