<section class="portfolio">
    <div class="container">
        <div class="portfolio__body">
            <div class="portfolio__body-top">
                <h1>Портфолио</h1>
                <div class="portfolio__body-top-btn">
                    <button class="active">НВФ</button>
                    <button>СПК</button>
                </div>
            </div>
            <div class="portfolio__body-block">
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio__body-block none">
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка Для Примера второй блок 
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-main">
                        <img src="../images/dist/item.png" alt="">
                        <span class="portfolio__body-block-item-main-name">
                            Детский сад Ивантеевка
                        </span>
                        <div class="line"></div>
                        <p class="portfolio__body-block-item-main-type">
                            Установлен вентилируемый фасад здания, а также проведены облицовочные работы
                        </p>
                        <p class="portfolio__body-block-item-main-address">
                            Московская область, городской округ Пушкинский, Ивантеевка, Хлебозаводская улица, 2
                        </p>
                    </div>
                    <div class="portfolio__body-block-item-bot">
                        <p>13 453 м2</p>
                        <a href="cardpage.html">
                            Открыть проект
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 7H17V17" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="experience">
    <div class="container">
        <div class="experience__body">
            <div class="experience__body-top">
                <h2>Наш опыт работы с подсистемами</h2>
                <div class="experience__body-top-btn">
                    <button class="active">НВФ</button>
                    <button>СПК</button>
                </div>
            </div>
            <div class="experience__body-block">
                <div class="experience__body-block-item">
                    <img src="../images/dist/logo/1.png" alt="">
                    <img src="../images/dist/logo/2.png" alt="">
                    <img src="../images/dist/logo/3.png" alt="">
                    <img src="../images/dist/logo/4.png" alt="">
                    <img src="../images/dist/logo/5.png" alt="">
                    <img src="../images/dist/logo/6.png" alt="">
                </div>
                <div class="experience__body-block-item">
                    <img src="../images/dist/logo/7.png" alt="">
                    <img src="../images/dist/logo/8.png" alt="">
                    <img src="../images/dist/logo/9.png" alt="">
                    <img src="../images/dist/logo/10.png" alt="">
                    <img src="../images/dist/logo/11.png" alt="">
                    <img src="../images/dist/logo/12.png" alt="">
                </div>
            </div>
            <div class="experience__body-block none">
                <div class="experience__body-block-item">
                    <img src="../images/dist/logo/1.png" alt="">
                    <img src="../images/dist/logo/2.png" alt="">
                    <img src="../images/dist/logo/3.png" alt="">
                    <img src="../images/dist/logo/4.png" alt="">
                    <img src="../images/dist/logo/5.png" alt="">
                    <img src="../images/dist/logo/6.png" alt="">
                </div>
                <div class="experience__body-block-item">
                    <img src="../images/dist/logo/7.png" alt="">
                    <img src="../images/dist/logo/8.png" alt="">
                    <img src="../images/dist/logo/9.png" alt="">
                    <img src="../images/dist/logo/10.png" alt="">
                    <img src="../images/dist/logo/11.png" alt="">
                    <img src="../images/dist/logo/12.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="done">
    <div class="container">
        <div class="done__body">
            <h2 class="done__body-title">
                Наши выполненные объекты
            </h2>
            <iframe
                src="https://yandex.ru/map-widget/v1/?feedback=map%2Fedit&feedback-context=map.controls&ll=37.764218%2C55.808099&source=constructorLink&um=constructor%3Acaae54ddb90cbfdbdd1985ca7faa86694bbc5945735849e0510c060a73f8c0ee&z=9.2"
                frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
</section>