<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">     
<link rel="stylesheet" href="../scss/style.min.css">
    <title>ПрофТехФасад</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="/" class="header__body-logo">
                    <img src="../images/dist/logo__header.png" alt="">
                </a>
                <nav class="header__body-menu desk">
                    <ul class="header__body-menu-list">
                        <li class="header__body-menu-list-item">
                            <a href="">Главная</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <span>
                                Услуги
                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L6 6L11 1" stroke="#252525" stroke-width="1.5"/>
                                </svg>                                
                            </span>
                            <div class="header__body-menu-list-item-acc">
                                <a href="">
                                    Проектирование вентилируемых фасадов
                                </a>
                                <a href="">
                                    Проектирование мокрого фасада
                                </a>
                                <a href="">
                                    Проектирование СПК
                                </a>
                                <a href="">
                                    Геодезическая съемка
                                </a>
                                <a href="">
                                    Авторский надзор
                                </a>
                            </div>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="">портфолио</a>
                        </li>
                        <li class="header__body-menu-list-item">
                            <a href="">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__body-contact desk">
                    <a class="header__body-contact-tel" href="tel:+79932851512">
                        +7 (993) 285-15-12
                    </a>
                    <a class="header__body-contact-mail" href="mailto:info@proftehfasad.ru">
                        info@proftehfasad.ru
                    </a>
                </div>
                <div class="burger mob">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__mobile mob">
                <nav class="header__body-menu">
                    <ul class="header__body-menu-list">
                        <span>Информация</span>
                        <li>
                            <a href="">Главная</a>
                        </li>
                        <li>
                            <a href="">Портфолио</a>
                        </li>
                        <li>
                            <a href="">Контакты</a>
                        </li>
                    </ul>
                    <ul class="header__body-menu-list">
                        <span>Услуги</span>
                        <li>
                            <a href="">Проектирование вентилируемых фасадов</a>
                        </li>
                        <li>
                            <a href="">Проектирование мокрого фасада</a>
                        </li>
                        <li>
                            <a href="">Проектирование СПК</a>
                        </li>
                        <li>
                            <a href="">Геодезическая съемка</a>
                        </li>
                        <li>
                            <a href="">Авторский надзор</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__body-contact">
                    <div class="header__body-contact-item">
                        <span>Напишите нам:</span>
                        <a href="mailto:info@proftehfasad.ru">info@proftehfasad.ru</a>
                    </div>
                    <div class="header__body-contact-item">
                        <span>По будням с 9:00 до 18:00</span>
                        <a href="tel:+79932851512">+7 (993) 285-15-12</a>
                    </div>
                    <button>
                        Заказать звонок
                    </button>
                </div>
                <div class="header__body-soft">
                    <a href="">
                        Пользовательское соглашение
                    </a>
                    <a href="">
                        Политика конфиденциальности
                    </a>
                    <span>
                        2024. Все права защищены
                    </span>
                </div>
            </div>
        </div>
    </header>
    <section class="services">
        <div class="container">
            <div class="services__body">
                <div class="services__body-start">
                    <h1>
                        Услуги
                    </h1>
                    <div class="splide" role="group" aria-label="Splide Basic HTML Example">
                        <div class="splide__arrows">
                            <button class="splide__arrow splide__arrow--prev">
                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.16702 13.0006L24.8758 12.9995" stroke="white" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13.022 0.978668L24.8758 12.9995L13.0209 25.0214" stroke="white"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                            <button class="splide__arrow splide__arrow--next">
                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.16702 13.0006L24.8758 12.9995" stroke="white" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13.022 0.978668L24.8758 12.9995L13.0209 25.0214" stroke="white"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <img class="desk" src="../images/dist/serv/1.png" alt="">
                                    <img class="mob" src="../images/dist/serv__mob/1.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="services__body-info">
                    <h2 class="services__body-info-title">
                        Проектирование вентилируемых фасадов
                    </h2>
                    <div class="services__body-info-text">
                        <p class="services__body-info-text-desc">
                            Проектирование СветоПрозрачных Конструкций — это процесс разработки решений для установки
                            систем, состоящих из стекла и алюминиевых профилей. Эти конструкции применяются для создания
                            фасадов, окон, витражей и зимних садов, сочетая в себе эстетичность и высокие эксплуатационные
                            характеристики.
                        </p>
                        <span class="services__body-info-text-span">
                            Проектирование светопрозрачных конструкций необходимо для:
                        </span>
                        <ul class="services__body-info-text-list">
                            <li>
                                <span>1.⁠ ⁠Точного расчета прочности и безопасности</span> — проект учитывает нагрузки от
                                ветра, осадков
                                и температурных перепадов, чтобы гарантировать долговечность и устойчивость конструкций.
                            </li>
                            <li>
                                <span>2.⁠ ⁠Герметичности и теплоизоляции</span> — правильное проектирование обеспечивает защиту от
                                сквозняков и теплопотерь, повышая энергоэффективность здания и создавая комфортные условия
                                внутри.
                            </li>
                            <li>
                                <span>3.⁠ ⁠Эстетической интеграции</span> — проект учитывает архитектурные особенности здания, создавая лёгкие и визуально привлекательные фасады, которые гармонично вписываются в общий дизайн объекта.
                            </li>
                            <li>
                                <span>4.⁠ ⁠Точности монтажа</span> — проектные решения позволяют точно интегрировать светопрозрачные конструкции в здание, предотвращая ошибки на этапе производства и установки.
                            </li>
                        </ul>
                        <p class="services__body-info-text-desc">
                            Проектирование светопрозрачных конструкций обеспечивает не только прочность           и долговечность, но и эстетическое совершенство фасада, гарантируя высокие эксплуатационные характеристики и современный внешний вид.
                        </p>
                    </div>
                    <button class="mob company__body-end-more">Читать полностью</button>
                </div>
            </div>
        </div>
    </section>
    <section class="feedback">
        <div class="container">
            <div class="feedback__body">
                <img src="../images/dist/form.png" alt="">
                <div class="feedback__body-block">
                    <h3 class="feedback__body-block-title">
                        Остались вопросы?
                    </h3>
                    <p class="feedback__body-block-desc">
                        Заполните форму и наш специалист ответит Вам в ближайшее время.
                    </p>
                    <form action="" class="feedback__body-block-form">
                        <div class="feedback__body-block-form-inp">
                            <input placeholder="Имя" type="text">
                            <input placeholder="Электронная почта" type="email">
                            <input placeholder="Телефон" type="tel">
                            <div class="feedback__body-block-form-inp-file">
                                <input type="file">
                                <span>Прикрепить файл</span>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 8H13M8 3V13" stroke="#1A1A1A" stroke-opacity="0.6"/>
                                </svg>                                
                            </div>
                        </div>
                        <div class="feedback__body-block-form-dop">
                            <textarea placeholder="Ваш вопрос"></textarea>
                            <button class="feedback__body-btn">
                                Отправить
                            </button>
                        </div>
                    </form>
                    <p class="feedback__body-block-pol">
                        Нажимая на кнопку «Отправить», вы соглашаетесь с <a href="">«Политикой обработки персональных данных»</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <div class="footer__body-wrap">
                    <div class="footer__body-logo">
                        <a href="">
                            <img src="../images/dist/logo__footer.png" alt="">
                        </a>
                        <p>
                            Комплексное проектирование
                            фасадов любой сложности
                        </p>
                        <span class="mob">
                            2024. Все права защищены
                        </span>
                    </div>
                    <nav class="footer__body-menu">
                        <ul class="footer__body-menu-list">
                            <span>Информация</span>
                            <li>
                                <a href="">Главная</a>
                            </li>
                            <li>
                                <a href="">Портфолио</a>
                            </li>
                            <li>
                                <a href="">Контакты</a>
                            </li>
                        </ul>
                        <ul class="footer__body-menu-list">
                            <span>Услуги</span>
                            <li>
                                <a href="">Проектирование вентилируемых фасадов</a>
                            </li>
                            <li>
                                <a href="">Проектирование мокрого фасада</a>
                            </li>
                            <li>
                                <a href="">Проектирование СПК</a>
                            </li>
                            <li>
                                <a href="">Геодезическая съемка</a>
                            </li>
                            <li>
                                <a href="">Авторский надзор</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="footer__body-contact">
                        <div class="footer__body-contact-item">
                            <span>Напишите нам:</span>
                            <a href="mailto:info@proftehfasad.ru">info@proftehfasad.ru</a>
                        </div>
                        <div class="footer__body-contact-item">
                            <span>По будням с 9:00 до 18:00</span>
                            <a href="tel:+79932851512">+7 (993) 285-15-12</a>
                        </div>
                        <button>
                            Заказать звонок
                        </button>
                    </div>
                </div>
                <div class="footer__body-soft">
                    <span class="desk">
                        2024. Все права защищены
                    </span>
                    <a href="">
                        Пользовательское соглашение
                    </a>
                    <a href="">
                        Политика конфиденциальности
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
    <script src="../js/main.min.js"></script>
</body>
</html>


